@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Alte-Din';
  src: url('./alte-din-1451-mittelschrift.regular.ttf');
}
html,
body {
  margin: 0;
  padding: 0;
  @apply bg-amber-50;
  font-family: 'Alte-Din', sans-serif;
}
.inst-button,
.beat-button {
  @apply bg-amber-100;
  @apply w-4/5;
  @apply min-w-[50px];
  @apply h-[65px];
  @apply border-black;
  @apply border-2;
  @apply rounded-lg;
  @apply mb-[20px];
  @apply mr-[5px];
  @apply ml-[5px];
}
.beat-row {
  @apply max-w-full;
  @apply justify-between;
  @apply w-full;
}
.beat-pos {
  @apply h-fit;
  @apply max-w-full;
}
.beat-pos span {
  @apply inline-block;
  @apply text-center;
  @apply text-2xl;
  @apply min-w-[50px];
  @apply w-4/5;
  @apply m-[5px];
  @apply border-collapse;
}
.control-knob-zone {
  @apply h-[125px];
  @apply w-[100px];
  @apply text-center;
  @apply font-bold;
}
.waveform-control {
  @apply bg-yellow-200;
  @apply h-10;
  @apply w-10;
  @apply m-1;
  @apply text-center;
  @apply font-bold;
}
#active-inst {
  @apply bg-green-800;
}
